.gradiant-text {
  overflow: hidden;
  border-right: 2px solid #ffffff;
  animation: typing-text steps(90) 7s infinite, blink ease 0.5s infinite;
  text-wrap: nowrap;
  display: inline-block;
  width: max-content;
  width: 0;
}
@keyframes typing-text {
  from {
      width: 0%;
  }

  to {
      width: 367px;
  }
}

@keyframes typing-text {
  to {
      border-color: transparent;
  }}

  @media (max-width: 767px) {
    @keyframes typing-text {
      from {
          width: 0%;
      }
    
      to {
          width: 307px;
      }
    }
    .justify{
      text-align: justify;
      text-justify: inter-word;
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 20px;
    }
  }